.gallary-box1 {
    border: 2px solid rgb(10, 79, 10);
    width: 250px;
    height: 500px;
    border-radius: 10px;
    margin: 30px 20px;
    padding: 10px 10px;
}

.heading-box1 {
    color: rgb(25, 80, 25);
    text-align: center;
    font-family: cursive;
    font-weight: 10px;
}

.list-box {
    color: black;
    font-family: cursive;
    font-weight: bold;
}